<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Socket Test</title>


    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <h2>User Details</h2>
            <table class="table table-bordered">
                <tr>
                    <th width="100">Name</th><td>{{ data.user.first_name }}</td>
                </tr><tr>
                    <th width="100">Email</th><td>{{ data.user.email }}</td>
                </tr><tr>
                    <th width="100">User ID</th><td>{{ data.user.id }}</td>
                </tr><tr>
                    <th width="100">Socket</th><td>{{ data.user.socket.socket_id }}</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="dynamicsparkline"></div>


        <div class="col-md-6">
            <h2>Send Speed: <span class="speed"></span></h2>



            <form id="speedTracking">

                Tracking Request To: <input type="text" name="speed" class="form-control" value=""/>
                <br/>

                <input type="text" name="lat" class="form-control" value=""/><br/>
                <input type="text" name="lng" class="form-control" value=""/><br/>
                <input type="text" name="unit" class="form-control" value="km/h"/><br/>
                <input type="text" name="token" class="form-control" value="{{ data.input.token }}"/><br/>

                <br/>

                <div class="btn-group">
                <button type="submit" class="btn btn-primary">Send Speed</button>
                <button type="button" class="btn btn-success" id="start">Start</button>
                </div>

            </form>
        </div>

        <div class="col-md-6">
            <h3>Speed Received For (tracking):</h3>
            <table class="table table-bordered">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Socket</th>
                    <th>Speed</th>
                </tr>

                {% for item in data.user.tracking %}
                    <tr>
                        <td>{{ item.user.first_name }}</td>
                        <td>{{ item.user.email }}</td>
                        {% if item.user.socket %}
                            <td>
                                {{ item.user.socket.socket_id }}
                            </td>
                            <td style="color:red;" class="{{ item.user.socket.token.token }}">

                            </td>
                        {% else %}
                            <th>NA</th>
                            <th></th>
                        {% endif %}
                    </tr>
                    <tr>
                        <td colspan="5">
                            <div class="graph_{{ item.user.socket.token.token }}"></div>

                        </td>
                    </tr>
                {% endfor %}

            </table>



        </div>



        <div class="col-md-2">

        </div>

    </div> <!-- row end-->

    <hr/>

    <div class="row">

        <div class="col-md-6">
            <h2>Raise Tracking Request</h2>

            <form id="raiseTrackingRequest">


                Tracking Request To: <select name="core_user_id" class="form-control">
                    {% for item in data.list.user %}
                        <option value="{{ item.id }}">{{ item.first_name }}</option>
                    {% endfor %}
                </select>
                <br/>

                <input type="text" name="token" class="form-control" value="{{ data.input.token }}"/>
                <br/>

                <button type="submit" class="btn btn-success">Tracking Request</button>


            </form>
        </div>

        <div class="col-md-6">


        </div>

    </div>




</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="http://omnipotent.net/jquery.sparkline/2.1.2/jquery.sparkline.min.js"></script>

<script type="text/javascript">
    $(function() {



    });
</script>

<script>
    //var socketHost = "http://localhost:2222";
    var socketHost = "http://103.196.221.22:2222";
    var token = "{{ data.input.token }}";
    var socket = io(socketHost, {query: "token=" + token});
    socket.connect();
    //-----------------------------------------------------------------
    socket.on('socket_specific', function (data) {
        console.log("socket specific", data);
    });
    //-----------------------------------------------------------------
    $("#raiseTrackingRequest").submit(function(e){
        e.preventDefault();
        var data = $(this).serializeFormJSON();
        console.log("data", data);
        socket.emit("raise_tracking_request", data);
    });

    //-----------------------------------------------------------------

    socket.on('raise_tracking_request_response', function (data) {
        alert("response received");
        console.log("socket specific", data);
    });
    //-----------------------------------------------------------------


    //-----------------------------------------------------------------
    $("#speedTracking").submit(function(e){
        e.preventDefault();
        var data = $(this).serializeFormJSON();

        socket.emit("receive_tracked_speed", data);
        $(".speed").html(data.speed);

        $("input[name=speed]").val(randomNumberFromRange(20, 40));
        $("input[name=lat]").val(getRandomInRange(-180, 180, 3));
        $("input[name=lng]").val(getRandomInRange(-180, 180, 3));

    });
    //-----------------------------------------------------------------
    var graph = [];
    var i = 0;
    //-----------------------------------------------------------------
    socket.on('emit_tracked_speed', function (data) {
        console.log("speed speed received", data);
        console.log("speed", data.speed);
        $("."+data.token).html("<b>"+data.speed+"</b>");


        if(graph[data.token])
        {
            graph[data.token].push(data.speed);

        } else
        {
            graph[data.token] = [];
            graph[data.token].push(data.speed);
        }

        console.log("response", graph);

        var graphLen = graph[data.token].length;

        if(graphLen > 20)
        {
            graph[data.token].splice(graph[data.token], 1);
        }
        console.log("graph", graph[data.token]);

        $('.graph_'+data.token).sparkline(graph[data.token], {
            width:"100%",
        });

        i++;

    });
    //-----------------------------------------------------------------
    var timer = null,
    interval = 1000;

    $("body").on("click", "#start", function() {
        console.log("start");
        if (timer !== null) return;
        timer = setInterval(function () {
            $("#speedTracking").submit();
        }, interval);

        $(this).text("Stop");
        $(this).addClass("btn-danger");
        $(this).attr("id", "stop");

    });

    $("body").on("click", "#stop", function() {
        clearInterval(timer);
        timer = null;
        $(this).text("Start");
        $(this).removeClass("btn-danger");
        $(this).attr("id", "start");
    });
    //-----------------------------------------------------------------
    //-----------------------------------------------------------------
    //-----------------------------------------------------------------

    //serialize data to json object
    (function ($) {
        $.fn.serializeFormJSON = function () {

            var o = {};
            var a = this.serializeArray();
            $.each(a, function () {
                if (o[this.name]) {
                    if (!o[this.name].push) {
                        o[this.name] = [o[this.name]];
                    }
                    o[this.name].push(this.value || '');
                } else {
                    o[this.name] = this.value || '';
                }
            });
            return o;
        };
    })(jQuery);
    //-----------------------------------------------------------------

    //set random speed
    $("input[name=speed]").val(randomNumberFromRange(20, 40));
    function randomNumberFromRange(min,max)
    {
        var randomNumber = Math.floor(Math.random()*(max-min+1)+min);

        return randomNumber;
    }
    //-----------------------------------------------------------------
    $("input[name=lat]").val(getRandomInRange(-180, 180, 3));
    $("input[name=lng]").val(getRandomInRange(-180, 180, 3));
    function getRandomInRange(from, to, fixed) {
        return (Math.random() * (to - from) + from).toFixed(fixed) * 1;
        // .toFixed() returns string, so ' * 1' is a trick to convert to number
    }
    //-----------------------------------------------------------------
    //-----------------------------------------------------------------
    //-----------------------------------------------------------------
    //-----------------------------------------------------------------

</script>

</body>
</html>